@import "reset.css";
@import "formContainer.css";
@import "keyframes.css";
@import "loading.css";
@import "success.css";

body {
  background-color: #f6fafd;
}

main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px;
  transition: all .8s ease-in-out;
}

.border {
  border-color: #fff;
  border-style: solid;
  border-width: 0;
  border-radius: 62px;
  animation: borderAnimation 1.2s ease-in-out 1 normal forwards;
  display: grid;
  transition: all .4s ease-in-out;
}

.grid-border {
  overflow: hidden;
  border-bottom-right-radius: 58px;
  border-top-right-radius: 58px;
  border-right: 1px solid #f6fafd;
  border-top: 1px solid #f6fafd;
  border-bottom: 1px solid #f6fafd;
}

.container {
  height: 800px;
  max-width: 1400px;
  width: 100%;
  border-radius: 56px;
  overflow: hidden;
  position: relative;
  transform: scale(0.96);
  animation: containerAnimation 1.2s ease-in-out 1 normal forwards;
  transition: all .8s linear;

  -webkit-box-shadow: 0 12px 51px 11px rgb(119 171 209 / 11%);
  -moz-box-shadow: 0 12px 51px 11px rgb(119 171 209 / 11%);
  box-shadow: 0 12px 51px 11px rgb(119 171 209 / 11%);
}

.grid-container {
  height: 800px;
  width: 1400px;
  background-color: #30374b;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
  overflow: hidden;
}

.text-container {
  position: absolute;
  width: calc(100% - 600px);
  bottom: 55px;
  text-align: center;
  color: #fff;
  z-index: 2;
  padding: 0 2rem;
}

.text-container h2 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  transform: translateY(50px);
  opacity: 0;
  animation: text 1s ease-out 1 normal forwards;
}

.text-container p {
  line-height: 1.5rem;
  font-weight: 300;
  max-width: 500px;
  margin: 0 auto;
  font-size: 0.9rem;
  transform: translateY(50px);
  opacity: 0;
  animation: text 1.2s ease-out 1 normal forwards;
}

.smallContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.box1 {
  grid-area: 1 / 1 / 2 / 2;
}

.box2 {
  grid-area: 1 / 2 / 2 / 3;
}

.box3 {
  grid-area: 1 / 3 / 2 / 4;
}

.box4 {
  grid-area: 1 / 4 / 2 / 5;
}

.box5 {
  grid-area: 1 / 5 / 2 / 6;
}

.box6 {
  grid-area: 1 / 6 / 2 / 7;
}

.box7 {
  grid-area: 1 / 7 / 2 / 8;
}

.box8 {
  grid-area: 2 / 1 / 3 / 2;
}

.box9 {
  grid-area: 2 / 2 / 3 / 3;
}

.box10 {
  grid-area: 2 / 3 / 3 / 4;
}

.box11 {
  grid-area: 2 / 4 / 3 / 5;
}

.box12 {
  grid-area: 2 / 5 / 3 / 6;
}

.box13 {
  grid-area: 2 / 6 / 3 / 7;
}

.box14 {
  grid-area: 2 / 7 / 3 / 8;
}

.box15 {
  grid-area: 3 / 1 / 4 / 2;
}

.box16 {
  grid-area: 3 / 2 / 4 / 3;
}

.box17 {
  grid-area: 3 / 3 / 4 / 4;
}

.box18 {
  grid-area: 3 / 4 / 4 / 5;
}

.box19 {
  grid-area: 3 / 5 / 4 / 6;
}

.box20 {
  grid-area: 3 / 6 / 4 / 7;
}

.box21 {
  grid-area: 3 / 7 / 4 / 8;
}

.box22 {
  grid-area: 4 / 1 / 5 / 2;
}

.box23 {
  grid-area: 4 / 2 / 5 / 3;
}

.box24 {
  grid-area: 4 / 3 / 5 / 4;
}

.box25 {
  grid-area: 4 / 4 / 5 / 5;
}

.box26 {
  grid-area: 4 / 5 / 5 / 6;
}

.box27 {
  grid-area: 4 / 6 / 5 / 7;
}

.box28 {
  grid-area: 4 / 7 / 5 / 8;
}

.box {
  position: relative;
  overflow: hidden;
}

.box:before {
  content: '';
  position: absolute;
  background-color: #363e53;
}

.box:after {
  content: '';
  position: absolute;
  background-color: #30374b;
}

.showOverflow {
  overflow: visible;
}

.circle_0:before {
  border-radius: 50%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.circle_0:after {
  width: 200px;
  height: 250px;
  left: 100%;
  bottom: 0;
  transform: rotate(270deg);
  transform-origin: 0 100%;
  animation: circle_0 0.8s ease-in-out 1 normal forwards;
}

.circle_1:before {
  border-radius: 50%;
  left: -100%;
  top: -100%;
  right: 0;
  bottom: 0;
  background-color: #363c4f;
}

.circle_1:after {
  width: 200px;
  height: 300px;
  right: 0;
  bottom: -300px;
  transform: rotate(270deg);
  transform-origin: 0 0;
  animation: circle_1 0.8s ease-in-out 1 normal forwards;
}

.circle_2:before {
  border-radius: 50%;
  left: 0;
  top: -100%;
  right: -100%;
  bottom: 0;
  background-color: #383f52;
}

.circle_2:after {
  width: 200px;
  height: 300px;
  right: -200px;
  bottom: -300px;
  transform: rotate(180deg);
  transform-origin: 0 0;
  animation: circle_2 0.8s ease-in-out 1 backwards;
  animation-fill-mode: both;
}

.circle_3:before {
  border-radius: 50%;
  left: 0;
  top: 0;
  right: -100%;
  bottom: -100%;
  background-color: #2d3448;
}

.circle_3:after {
  width: 200px;
  height: 300px;
  left: 0;
  bottom: -300px;
  transform: rotate(270deg);
  transform-origin: 0 0;
  animation: circle_1 0.8s ease-in-out 1 backwards;
  animation-fill-mode: both;
}

.circle_2.circle_4:before {
  background-color: #3a4155
}

.circle_2.circle_5:before {
  background-color: #3d4455
}

.circle_6:before {
  border-radius: 50%;
  right: 0;
  top: 0;
  left: -100%;
  bottom: -100%;
  background-color: #2a3146;
}

.circle_6:after {
  width: 200px;
  height: 300px;
  left: 0;
  bottom: -100px;
  transform: rotate(360deg);
  transform-origin: 0 0;
  animation: circle_6 0.8s ease-in-out 1 backwards;
  animation-fill-mode: both;
}

.circle_7:before {
  border-radius: 50%;
  left: 0;
  top: 0;
  right: -100%;
  bottom: -100%;
  background-color: #363d52;
}

.circle_7:after {
  width: 200px;
  height: 300px;
  left: 0;
  bottom: -300px;
  transform: rotate(270deg);
  transform-origin: 0 0;
  animation: circle_1 0.8s ease-in-out 1 backwards;
  animation-fill-mode: both;
}

.circle_8:before {
  border-radius: 50%;
  left: -100%;
  top: 0;
  right: 0;
  bottom: -100%;
  background-color: #363d52;
}

.circle_8:after {
  width: 200px;
  height: 300px;
  left: 0;
  bottom: -100px;
  transform: rotate(360deg);
  transform-origin: 0 0;
  animation: circle_6 0.8s ease-in-out 1 backwards;
  animation-fill-mode: both;
}

.circle_8.small:before {
  left: -100%;
  right: 0;
}

.circle_8.small:after {
  width: 100px;
  height: 150px;
  bottom: -50px;
}

.circle_1.small:after {
  width: 100px;
  height: 150px;
  bottom: -50px;
  right: -100px;
  animation: circle_1_small 0.8s ease-in-out 1 backwards;
  animation-fill-mode: both;
}

.circle_1.small:before {
  background-color: #42495c
}

.small.bg2:before {
  background-color: #2b3247
}

.small.bg3:before {
  background-color: #42495c
}

.small.bg4:before {
  background-color: #2a3146
}

.box:after {
  animation-delay: .2s !important;
}
