<div class="form-group">
		<label for="email">E-Mail</label>

		<div class="input-container email">
				<input
								id="email"
								name="email"
								type="email"
								placeholder="ui-team@cint.com"
								data-form-target="email"
								data-action="focus->form#focusInput blur->form#blurInput"
				>
		</div>
</div>
