<div class="submit-container">
		<button
						type="submit"
						data-form-target="submit"
						data-action="form#submit:prevent"
		>
				<span>Login</span>
		</button>

		<div class="lds-ellipsis">
				<div></div>
				<div></div>
				<div></div>
				<div></div>
		</div>
</div>
