<p>Easy login with</p>

<div class="social">
		<button type="button" class="google">
				<img src="/public/images/google.svg" loading="lazy" alt="Google logo" height="20px"
				     width="20px">
				Google
		</button>
		
		<button type="button" class="facebook">
				<img src="/public/images/facebook.svg" loading="lazy" alt="Facebook logo"
				     height="20px" width="20px">
				Facebook
		</button>
</div>
