<div class="form-group">
		<label for="password">Password</label>

		<div class="input-container password">
				<input
								id="password"
								name="password"
								type="password"
								placeholder="dmt*k!hf7JTY"
								data-form-target="password"
								data-action="focus->form#focusInput blur->form#blurInput"
				>
		</div>
</div>
