<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <title>Cint - Login</title>
    <meta name="description" content="Login page, Cint™ | Digital Insights Gathering Platform">
</head>
<body>

<%- include('login'); -%>

</body>
</html>
