<main>
		<div class="border">
				<div class="container">
						<div class="form-container">

								<form
												data-controller="form"
												data-form-email-focus-class="email--focused"
												data-form-password-focus-class="password--focused"

												data-form-email-error-class="email--error"
												data-form-password-error-class="password--error"

												data-form-loading-class="form--loading"
												data-form-invalid-credentials-class="form--invalid"
								>
										<div class="logo">
												<img src="/public/images/logo.svg" loading="lazy" alt="logo" width="40px"
												     height="16.62px">
										</div>
										<h1>Login</h1>

										<!-- email -->
										<div class="form-group">
												<label for="email">E-Mail</label>

												<div class="input-container email">
														<input
																		id="email"
																		name="email"
																		type="email"
																		placeholder="ui-team@cint.com"
																		data-form-target="email"
																		data-action="focus->form#focusInput blur->form#blurInput"
														>
												</div>
										</div>

										<!-- password -->
										<div class="form-group">
												<label for="password">Password</label>

												<div class="input-container password">
														<input
																		id="password"
																		name="password"
																		type="password"
																		placeholder="dmt*k!hf7JTY"
																		data-form-target="password"
																		data-action="focus->form#focusInput blur->form#blurInput"
														>
												</div>
										</div>

										<span class="message" data-form-target="message"></span>

										<button
														type="submit"
														data-form-target="submit"
														data-action="form#submit:prevent"
										>
												Login
										</button>

										<p>Easy login with</p>
										<div class="social">
												<button type="button" class="google">
														<img src="/public/images/google.svg" loading="lazy" alt="Google logo" height="20px"
														     width="20px">
														Google
												</button>
												<button type="button" class="facebook">
														<img src="/public/images/facebook.svg" loading="lazy" alt="Facebook logo"
														     height="20px" width="20px">
														Facebook
												</button>
										</div>
								</form>
						</div>

						<%- include('grid-animation'); -%>
				</div>
		</div>
</main>
