<main>
    <div class="container">
        <div class="box box1 smallContainer">
            <div class="box circle_8 small"></div>
            <div class="box circle_8 small bg2"></div>
            <div class="box circle_1 small"></div>
            <div class="box"></div>
        </div>
        <div class="box box2 circle_6"></div>
        <div class="box box3 circle_7"></div>
        <div class="box box4 circle_6"></div>
        <div class="box box5 smallContainer">
            <div class="box circle_8 small"></div>
            <div class="box circle_8 small bg2"></div>
            <div class="box circle_1 small"></div>
            <div class="box"></div>
        </div>
        <div class="box box6 circle_6"></div>
        <div class="box box7 circle_7"></div>

        <div class="box box8 circle_8"></div>
        <div class="box box9"></div>
        <div class="box box10 smallContainer">
            <div class="box circle_8 small bg3"></div>
            <div class="box"></div>
            <div class="box circle_1 small bg4"></div>
            <div class="box circle_2 small bg4"></div>
        </div>
        <div class="box box11 circle_7"></div>
        <div class="box box12 circle_8"></div>
        <div class="box box13"></div>
        <div class="box box14 smallContainer">
            <div class="box circle_8 small bg3"></div>
            <div class="box"></div>
            <div class="box circle_1 small bg4"></div>
            <div class="box circle_2 small bg4"></div>
        </div>

        <div class="box box15"></div>
        <div class="box box16 circle_2 circle_4"></div>
        <div class="box box17"></div>
        <div class="box box18 circle_6"></div>
        <div class="box box19"></div>
        <div class="box box20 circle_2 circle_5"></div>
        <div class="box box21"></div>

        <div class="box box22 circle_3"></div>
        <div class="box box23 circle_2"></div>
        <div class="box box24 circle_1"></div>
        <div class="box box25 circle_0"></div>
        <div class="box box26 circle_3"></div>
        <div class="box box27 circle_2"></div>
        <div class="box box28 circle_1"></div>
    </div>
</main>
